<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
<form id="register-form" method="post" action="/register/register" enctype="application/x-www-form-urlencoded">
    <label for="first-name-input">Имя:</label>
    <input type="text" id="first-name-input" name="first_name"><br><br>
    <label for="surname-input">Фамилия:</label>
    <input type="text" id="surname-input" name="surname"><br><br>
    <label for="email-input">Email:</label>
    <input type="email" id="email-input" name="email"><br><br>
    <label for="password-input">Пароль:</label>
    <input type="password" id="password-input" name="password"><br><br>
    <button type="submit">Зарегестрироваться</button>
</form>
    <div id="success-message"></div>
    <div id="error-message"></div>
<script>
    const form = document.getElementById('login-form');
    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        try {
            const response = await fetch(form.action, {
                method: 'POST',
                body: new FormData(form)
            });
            const message = await response.text();
            if (response.ok) {
                document.getElementById('success-message').innerHTML = massage;
            } else {
                document.getElementById('error-message').innerHTML = message;
            }
    });
</script>
</body>
</html>